{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<h1>パスワード変更画面</h1>

<form method="POST">{% csrf_token %}
    {% for field in form %}
        <p>{{field}}</p>

        {% if field.errors %}
            <p>{{field.errors.0}}</p>
        {% endif %}
    {% endfor %}

    <input type='submit' value="パスワード変更する">
</form>

{% if form.non_field_errors %}
    <ul>
        {% for non_field_error in form.non_field_errors %}
            <li>{{non_field_error}}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}