{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

<!--
    PasswordChangeFormのフィールド名はord_password,new_password1,new_password2
    https://docs.djangoproject.com/en/1.8/_modules/django/contrib/auth/forms/ django公式ドキュメントより
-->
<div class="userdata-container">
    <div class="userdata-item">
        <h1>パスワード変更画面</h1>

        <form class="form-area" method="POST">{% csrf_token %}
            {% for field in form %}
                <!-- 
                    各パスワードのラベルをビューで定義したcontextで表示
                    forloop.counterはforループの回数が格納されたテンプレートの特別な変数
                -->
                {% if forloop.counter == 1 %}
                    <p class="p-change">{{old_pass}}</p>
                {% elif forloop.counter == 2 %}
                    <p class="p-change">{{new_pass1}}</p>
                {% else %}
                    <p class="p-change">{{new_pass2}}</p>
                {% endif %}

                <p>{{field}}</p>
                {% if field.errors %}
                    <p>{{field.errors.0}}</p>
                {% endif %}
            {% endfor %}
            <input class="button" type='submit' value="パスワード変更する">
        </form>
    </div>
</div>
{% if form.non_field_errors %}
    <ul>
        {% for non_field_error in form.non_field_errors %}
            <li>{{non_field_error}}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}