@charset "UTF-8";

/*
    メインカラーはスカイブルー、背景は白、文字は黒で構成
    強調したい文字はスカイブルーにする
*/

/* ----- 共通部分 ---------------------------- */


    html {
        font-size: 100%;
    }

    body {
        font-family: "Yu Gotic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
        line-height: 1.7;
        color: black;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }

    .contents-sidebar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    h1 {
        text-align: center;
    }

    h4 {
        text-align: center;
    }

/* ------ HEADER ------------------------------------------------------- */

    header {
        background-color: skyblue;
        text-align: center;
        padding: 26px 0;
    }


/* ------- FOOTER ------------------------------------------------------ */

    footer {
        background-color: skyblue;
        text-align: center;
        padding: 26px 0;
    }

/* ------- トップページ ------------------------------------------------- */
    /* クラス名だけでは反映されなかったので、タグ名から書いている */
    img.logo {
        width: 250px;
        height: 150px;
        margin-top: 100px;
    }

    .logo-position {
        text-align: center;
        margin-bottom: 0px;
    }

    .top-msg {
        text-align: center;
        width: 300px;
        margin-top: 150px;
        margin-left: 100px;
    }

    .container {
        display: grid;
        grid-template-columns: 300px 500px;
        gap: 20px;
    }

    .item {
        padding: 10px;
    }

/* --------- メインコンテンツ ----------------------------------------- */

    article {
        width: 74%;
    }


/* --------- サイドバー ----------------------------------------------- */
    aside {
        width: 22%;
        text-align: left;
    }

    aside p, .search-form, .search-button {
        margin-left: 40px;
    }

    aside p {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .side-list {
        list-style: none;
    }


    .search-form {
        width: 150px;
        border: thin solid #AAADAD;
        border-radius: 6px;
        margin-top: 0;
    }

    .user-welcome {
        border-bottom: 5px solid skyblue;
    }


/* --------- コンテンツ一覧 -------------------------------------------- */

    .find-cnt {
        text-align: center;
    }

    .contents-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        height: 80vh;
        width: 100vh;
        padding-left: 200px;
    }

    .content-item {
        text-align: center;
        margin: 30px;
        padding: 10px 30px;
        border: thin solid skyblue;
        border-radius: 6px;
    }

    .category-form {
        margin-left: 100px;
    }

    .pagination {
        text-align: center;
        margin-top: 100px;
    }

    .page-number {
        margin: 10px;
    }

/* -------- プロフィール,ユーザー変更、パスワード変更、ユーザー入力フォーム ------------------------------------------------------ */

    .userdata-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .userdelete-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border: thin solid #AAADAD;
        border-radius: 6px;
        width: 350px;
        height: 150px;
        /*要素の幅と高さを決めたものは、margin: auto;にすると自動で画面中央よせで配置してくれる*/
        margin: auto;
    }

    .userdata-label {
        height: 100px;
        text-align: right;
        margin-right: 20px;
    }


    .userdata-item {
        text-align: left;
    }

    .userdata-item form {
        border: 2 solid #AAADAD;
        border-radius: 6px;
    }

    .form-area {
        border: thin solid #AAADAD;
        border-radius: 6px;
        padding-left: 20px;
        padding-bottom: 20px;
        width: 250px;
    }

    .p-change {
        margin-top: 20px;
        margin-bottom: -20px;
    }

    .p-msg {
        font-size: 13px;
    }

    .p-changedone {
        text-align: center;
    }

    .error-msg {
        text-align: center;
    }

    .error-msg ul {
        list-style: none;
    }

    input {
        border: thin solid #AAADAD;
        border-radius: 6px;
    }

    textarea {
        width: 400px;
        height: 300px;
        border: thin solid #AAADAD;
        border-radius: 6px;
    }

/* ---------- コンテンツ詳細画面 -------------------------------------------------------- */

    .detail-container {
        display: flex;
        justify-content: left;
        padding-left: 200px;
    }

    .detail-label {
        text-align: right;
        margin-top: 50px;
        margin-right: 20px;
    }


    .detail-item {
        text-align: right;
        margin-top: 50px;
        margin-right: 30px;
        font-weight: bold;
    }

    .detail-content {
        text-align: justify;
        border: thin solid #AAADAD;
        border-radius: 6px;
        width: 400px;
        height: 300px;
        margin-top: 20px;
    }

/* ---------- コンテンツ作成・更新 ---------------------------------- */

    .create-container {
        display: flex;
        justify-content: left;
        padding-left: 200px;
    }

    .create-label {
        text-align: right;
        margin-top: 20px;
        margin-right: 20px;
    }

    .create-item {
        text-align: left;
        margin-top: 20px;
        margin-right: 30px;
        font-weight: bold;
    }


