<!DOCTYPE html>
<html ja>
    <head>
        <meta charset="UTF-8">
        <titel>Teach x Learn</titel>
        <meta name="description" content="教えることは学ぶこと">
        <!--user.is_authenticated はユーザーがログイン状態のときにTrueを返す
            True のときはログインしているので、「ログアウト」を表示
            False のときは未ログイン状態なので、「ログイン」を表示
        -->
        {% if user.is_authenticated %}
            <p><a href="{% url 'ttolapp:logout' %}">ログアウト</a></p>
        {% else %}
            <p><a href="{% url 'ttolapp:login' %}">ログイン</a></p>
        {% endif %}
        
        {% block header %}
        {% endblock header %}
    </head>

    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>