<!--
    テンプレートタグの使い方のリファレンス　参考ページ
    https://djangoproject.jp/doc/ja/1.0/topics/templates.html#template-inheritance
-->

<!DOCTYPE html>
<html ja>
    <head>
        <meta charset="UTF-8">
        <titel>
            {% block title %}Teach x Learn{% endblock title %}    
        </titel>
        <meta name="description" content="教えることは学ぶこと">
        <!-- {%load static %}をいれないとエラーがでる -->
        {% load static %}
        <link rel="stylesheet" href="https://unpkg.com/ress/dict/ress.min.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <header>

        {% block header %}
        {% endblock header %}

    </header>

    <body>

        <div class="contents-sidebar">
            <article>
                <!-- メインコンテンツ -->
                {% block content %}
                {% endblock content %}        
            </article>

            <aside>
                <!-- サイドバー部分 -->
                {% block sidebar %}
                <p>コンテンツ検索</p>
                <form action="{% url 'ttolapp:find' %}" method="GET">
                    <input type="search" name = "find" class="search-form" maxlength="30"><br>
                    <input type="submit" class="search-button" value="検索する">
                </form>
        
                <!-- user.is_authenticated はログインしていればTrueを返す -->
                <ul class="side-list">                    
                    {% if user.is_authenticated %}
                        <li><span class="user-welcome">ようこそ{{user.username}}さん</span></li>
                        <li><a href="{% url 'ttolapp:Index' %}">TOPへ</a></li>
                        <li><a href="{% url 'ttolapp:list' %}">コンテンツ一覧へ</a></li>  
                        <li><a href="{% url 'ttolapp:user_contents' %}">{{user.username}}さんのコンテンツ一覧</a></li>  
                        <li><a href="{% url 'ttolapp:profile' %}">ユーザー情報</a></li>
                        <li><a href="{% url 'ttolapp:logout' %}">ログアウト</a></li>
                        <li><a href="{% url 'ttolapp:create' %}">作成</a></li>
                    {% else %}
                        <li><a href="{% url 'ttolapp:Index' %}">TOPへ</a></li>
                        <li><a href="{% url 'ttolapp:list' %}">コンテンツ一覧へ</a></li>
                        <li><a href="{% url 'ttolapp:login' %}">ログイン</a></li>
                        <li><a href="{% url 'ttolapp:signup' %}">新規登録</a></li>
                    {% endif %}
                </ul>
                {% endblock sidebar %}
            </aside>
        </div>
    </body>

    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
</html>