{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<h1>カテゴリごとの一覧</h1>
<h4>{{contents_count}}件のコンテンツ</h4>

<form class="category-form" action="{% url 'ttolapp:category' %}" method="GET">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="カテゴリごとの一覧へ">
</form>
    <div class="contents-list">
        {% for item in page_obj %}
            <div class="content-item">
                <p class="content-title">{{item.title}}</p>
                <p>カテゴリ:{{item.get_category_display}}</p>
                <p>キーワード:{{item.searchword}}</p>
                <p>作成者:{{item.teacher}}</p>
                <a href="{% url 'ttolapp:detail' item.id %}">詳細へ</a>    
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <!-- 前へ の部分 -->
        {% if page_obj.has_previous %}
            <a href="{% url 'ttolapp:category' %}">&laquo; 最初へ</a>
            <a href="?page={{ page_obj.previous_page_number }}">&laquo; 前へ</a>
        {% else %}
            <a>&laquo; 最初へ</a>
            <a>&laquo; 前へ</a>
        {% endif %}
        
        <!-- 現在のページ/総ページ数 -->
        <span class="page-number">
            {{page_obj.number}}/{{page_obj.paginator.num_pages}}
        </span>
        
        <!-- 次へ の部分 -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">次へ &raquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">最後へ &raquo;</a>
        {% else %}
            <a>次へ &raquo;</a>
            <a>最後へ &raquo;</a>
        {% endif %}
    </div>

{% endblock content %}