{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<h1>作成画面</h1>

        <!--
            http://imagawa.hatenadiary.jp/entry/20120520/1337431689
            フォームを非表示にするform.as_hiddenを使うと、ユーザーに見られたくない
            情報を入れながら、隠せる。
        -->
<div class="create-container">
    <div class="create-label">
        <p>作成者:</p>
        <p>タイトル:</p>
        <p>カテゴリ:</p>
        <p>キーワード:</p>
    </div>
    <div class="create-item">
        <form method="POST">{% csrf_token %}
            <p>{{user.username}}</p>
            <p>{{form.title}}</p>
            <p>{{form.category}}</p>
            <p>{{form.searchword}}</p>
            <p>{{form.teacher.as_hidden}}</p>
            <p>{{form.content}}</p> 
            <input type="submit" value="作成する">
        </form>    
    </div>
</div>
{% endblock content %}