{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<h1>作成画面</h1>

        <!--
            http://imagawa.hatenadiary.jp/entry/20120520/1337431689
            フォームを非表示にするform.as_hiddenを使うと、ユーザーに見られたくない
            情報を入れながら、隠せる。
        -->
<div class="create-content">
    <form method="POST">{% csrf_token %}
            <p>作成者　　: {{user.username}}</p>
            <p>タイトル　: {{form.title}}</p>
            <p>カテゴリ　: {{form.category}}</p>
            <p>キーワード: {{form.searchword}}</p>
            <p>{{form.teacher.as_hidden}}</p>
            <p>{{form.content}}</p> 
            <input type="submit" value="作成する">    
    </form>    
</div>
{% endblock content %}