{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="detail-content">
    <p>タイトル　: <span class="content-title">{{object.title}}</span></h3>
    <p>カテゴリ　: {{object.get_category_display}}</p>
    <p>キーワード: {{object.searchword}}</p>        
    <p>作成者　　: {{object.teacher}}</p>
</div>
<div class="detail-texts">
    <!-- {{text|linebreaksbr}} とすることで、入力された改行をそのまま表示するようにできる -->
    <p>{{object.content|linebreaksbr}}</p>        
</div>    


{% endblock content %}