{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
    <h1>検索結果</h1>
    {% if find_count != 0 %}
        <h4>{{find_count}}件ヒットしました</h4>
    {% endif %}
    {% if msg %}
        <p>{{msg}}</p>
    {% endif %}

    {% for item in find_list %}
        <p>タイトル:{{item.title}}</p>
        <p>カテゴリ:{{item.get_category_display}}</p>
        <p>キーワード:{{item.searchword}}</p>
        <a href="{% url 'ttolapp:detail' item.id %}">詳細へ</a>

    {% endfor %}

{% endblock content %}