{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="userdata-container">
    <div class="userdata-item">
        <h1>ログイン画面</h1>

        <form class="form-area" method="POST">{% csrf_token %}
            {% for field in form %}
                <p>{{field}}</p>

                {% if field.errors %}
                    <p>{{field.errors.0}}</p>
                {% endif %}
            {% endfor %}

            <input class="button" type='submit' value="ログイン">
        </form>
    </div>
</div>
<div class="error-msg">
    {% if form.non_field_errors %}
        <ul>
            {% for non_field_error in form.non_field_errors %}
                <li>{{non_field_error}}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock content %}