{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<h1>ユーザー情報</h1>

<div class="userdata-container">
    <div class="userdata-item">
        <p>ユーザー名:{{user.username}}</p>
        {% if user.email %}
            <p>メールアドレス:{{user.email}}</p>
        {% else %}
            <p>メールアドレス未設定</p>
        {% endif %}
        <p><a href="{% url 'ttolapp:change' %}">ユーザー情報変更へ</a></p>
        <p><a href="{% url 'ttolapp:password_change' %}">パスワード変更へ</a></p>
        <!--
            userdeleteビューのURLは'userdelete/<int:pk>/'なので、
            <a>タグに<int:pk>になるユーザーidを渡している。    
        -->
        <p><a href="{% url 'ttolapp:userdelete' user.id %}">アカウント削除へ</a></p>
    </div>
</div>
{% endblock content %}