{% extends 'base.html' %}

{% block title %}
    {{user.username}}さんのコンテンツ一覧
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
    <h4>{{contents_count}}件のコンテンツがあります</h4>

    <div class="contents-list">
        {% for item in page_obj %}
            <div class="content-item">
                <p class="content-title">{{item.title}}</p>
                <div class="content-labels">
                    <p>カテゴリ　: {{item.get_category_display}}</p>
                    <p>キーワード: {{item.searchword}}</p>    
                </div>
                <p><a href="{% url 'ttolapp:detail' item.id %}">詳細ページへ</a></p>
                <p><a href="{% url 'ttolapp:update' item.id %}">更新ページへ</a></p>
                <P><a href="{% url 'ttolapp:delete' item.id %}">削除ページへ</a></P>
            </div>
        {% endfor %}
    </div>

<div class="pagination">
    <!-- 前へ の部分 -->
    {% if page_obj.has_previous %}
        <a href="{% url 'ttolapp:user_contents' %}">&laquo; 最初のページ</a>
        <a href="?page={{ page_obj.previous_page_number }}">&laquo; 前のページ</a>
    {% else %}
        <a>&laquo; 最初のページ</a>
        <a>&laquo; 前のページ</a>
    {% endif %}
    
    <!-- 現在のページ/総ページ数 -->
    <span class="page-number">
        {{page_obj.number}}/{{page_obj.paginator.num_pages}}
    </span>

    <!-- 次へ の部分 -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">次のページ &raquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">最後のページ &raquo;</a>
    {% else %}
        <a>次のページ &raquo;</a>
        <a>最後のページ &raquo;</a>
    {% endif %}
</div>

{% endblock content %}