{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
    <h1>アカウント削除画面</h1>

    <div class="userdelete-container">
        <div class="userdata-label">
            <p>ユーザー名:</p>
            <p>メールアドレス:</p>
        </div>
        <div class="userdata-item">
            <form method="POST">{% csrf_token %}    
                <p>{{object.username}}</p>
                {% if object.email %}
                    <p>{{object.email}}</p>
                {% else %}
                    <p>メールアドレス未設定</p>
                {% endif %}  
                <input type="submit" value="削除する">
            </form>
        </div>
    </div>

{% endblock content %}